[Desktop Entry]
Type=Application
Name=Sqyre
Comment=Macro builder
Categories=Development;Utility;
Keywords=sqyre;macro;automation;
Icon=com.sqyre.app
Exec=sqyre
Terminal=false
